@*@model Dictionary<int, string>*@

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Welcome</h1>
<br />
<br />
<a href="/Register/SingUp"><input type="button" class="btn btn-primary btn-sm" style="width:15%;" value="Register" /></a>
<a href="/Register/Login"><input type="button" class="btn btn-success btn-sm" style="width:15%; margin-left:50px;" value="Login" /></a>

@*<select id="select2class" name="selectedItems" multiple class="form-control">
    @foreach (KeyValuePair<string, string> item in ViewBag.Items)
    {
        <option value="@item.Key">@item.Value</option>
    }
</select>

<script>
    $(document).ready(function () {
        $("#select2class").select2({
            allowClear: true,
            placeholder: 'Search for a users'
        });
    });
</script>*@

